<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645473081/development/pokemon-user-background_fkkm6k.png);">
  <div class="container">
    <h1><strong>Book</strong> my Pokemon</h1>
    <p>Please fill in all the information</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div class="container">
  <div class="col-6 offset-3 mt-3">
    <div class="form-group">
      <h3>Information needed to book your Pokemon</h3>
      <%= simple_form_for(@booking) do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :begin_date, placeholder: "Beginning of the reservation" %>
          </div>
          <div class="col">
            <%= f.input :end_date, placeholder: "End of the reservation" %>
          </div>
        </div>
        <div class="btn btn-flat mb-4">
          <%= f.button :submit, "Book my pokemon" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
