<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645468248/development/background_pokemon_mifddl.png);">
  <div class="container">
    <h1><strong>PIKA</strong>CHOOSE</h1>
    <p><span data-controller="typed-js"></span></p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
     <%= render 'shared/search' %>
  </div>
</div>

<div class="container">
  <h2 class="text-left cards-home-title my-5">Which kind of Pokemons are you looking for <strong>?<strong></h2>
  <%= link_to pokemons_path, class: "link-no-deco" do %>
    <div class="cards-home my-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645557079/development/all_pokemon_forgcn.jpg)">
        All pokemons
      </div>
      <% end %>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645556305/development/Pokemon-surf_r19asa.jpg)">
        Athletes for<br>Sportive experiences
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645556727/development/pokemon-cookingchef_ulcwin.png)">
        Calm for<br>Cooking experiences
      </div>
    </div>
</div>
