.pokemon-infos {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.pokemon-infos img {
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $yellowpika 3px solid;
  object-fit: contain;
}

.pokemon-infos .details-infos {
  width:50%;
}

.user-infos {
  text-align: center;
  background:white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  .dropdown-divider {
    width:60%;
    margin: 0 auto;
  }
  h3 span {
    color: $bluepokemon;
  }
}

.details-infos #pokemon-price {
  margin-top: 40px;
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 50%;
  margin: 0 auto;
 small {
   font-size: 14px;
   font-weight:300;
 }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .pokemon-infos img {
    width:100px;
    height: 100px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .pokemon-infos img {
    width:150px;
    height: 150px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pokemon-infos img {
    width:150px;
    height: 150px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pokemon-infos img {
    width:200px;
    height: 200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .pokemon-infos img {
    width:200px;
    height: 200px;
  }
}
